"*":
  "atom-htmltidy": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "atom-htmltidy"
    ]
    excludeVcsIgnoredPaths: false
    hideGitIgnoredFiles: false
    projectHome: "~/Sites/"
    themes: [
      "native-ui"
      "one-dark-syntax"
    ]
  drupal:
    fileTypesPhp: "module,install,inc,test"
  editor:
    fontFamily: "Hack"
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "file-icons":
    coloured: false
    tabPaneIcon: false
  "go-plus":
    goPath: "~/Code/Go"
  "go-rename": {}
  gofmt:
    formatTool: "goreturns"
  linter: {}
  "tree-view":
    autoReveal: true
    focusOnReveal: false
  "unity-ui":
    showIcons: true
  welcome:
    showOnStartup: false
